body{
  background-color: #f4c2c2;
  min-width: 320px;
  }
.ff{
  font-family: 'Galada', cursive;
  font-size: 25px;
  padding-left: 10px;
  }
.ff1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px; 
}
.ff3{
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 22px;
}
.pig {
  color:#f4c2c2;
}
.bpig{
  background-color:#f4c2c2;
}
.b{
  font-family: 'Galada', cursive;
  font-size: 45px;
  padding-left: 10px;
}
ul>li:hover{
    text-decoration: underline;
  }
  .bake:hover{
    text-decoration: none;
  }
.nbt{
  border-top: 2px solid #f4c2c2;
}
.nbb{
  border-bottom: 2px solid #f4c2c2;
}

/* footer css*/
a:hover{
  cursor: pointer;
}
.ta{
  text-align: center;
}
@media only screen and (max-width: 768px) {
    .tac{
      text-align: center;
    }
    .df{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
  }
  /* --------------------------------------------------------------------------------------------------------------- --------------*/
.content{
  background-color: #f4c2c2;
}
.ed{
  color: #000;
  font-size: 100px;
  position: relative;
  bottom: 300px;
}
.gr{
  color:#dddddd;
}
.sp{
  font-weight: bold;
}
.df1{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.mm{
  position: relative;
  bottom: 70px;
  font-family: 'Galada', cursive;
}
.nn{
  position: relative;
  bottom: 140px;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  font-family: 'Galada', cursive;
}
.hh{
  position: relative;
  bottom: 300px;
  color: #ddd;
  font-size: 40px;
  font-family: 'Galada', cursive;
}
.pp{
  position: relative;
  bottom: 260px;
  color: #000;
  font-size: 60px;
  font-weight: 200;
  font-family: 'Galada', cursive;
}
.hg{
   position: relative;
  bottom: 300px;
  color: #f4c2c2;
  font-size: 40px;
  font-family: 'Galada', cursive;
}
.pip{
  position: relative;
  bottom: 260px;
  color: #fff  ;
  font-size: 50px;
  font-weight: 200;
  font-family: 'Galada', cursive;
}
.h11{
  position: relative;
  top: 20px;
  font-size: 60px;
}
.h13{
  position: relative;
  top: 30px;
  font-size: 60px;
}
.h12{
  position: relative;
  top: 20px;
}
.mybtn{
  padding:10px;
  outline: 0;
  border:3px solid #ddd;
  border-radius: 5px;
}
.inp{
  height: 38px;
  outline: none;
  border:none;
  border-radius:.25rem;
}
.main{
  margin-right: 40px;
}
@media only screen and (max-width: 930px) {
    .ed{
      bottom: 200px;
    }
}
.card-body{
  padding: 20px 0 20px ;
}
.card-title{
  padding: 0;
}
.card{
  padding: 10px;
}
.single_content{
  
  background: #f4c2c2;  
}
.breadcrumb li{
  color:#343A40;
}
a{
  color:#f4c2c2;
}
a:hover{
  color:#f4c2c2;
  text-decoration: underline;
}
.sort select{
  border-radius: 15px;
  padding: 10px;
  outline: none;
  color:#f4c2c2;
}
.breadcrumb{
  margin-bottom: 0;
  border-bottom: 2px solid #f4c2c2;
  padding:16px;
}
.div_product {
  padding: 0;
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  
}

.also{
  font-size: 50px; 
}
.gallery img {
  margin-top: 15px;
}
.gallery{
  padding-left: 0;
}
.lll{
  margin-left: 16px;
}
.wid{
  width: 250px;
  outline: none;
  margin-top: 40px;
}
.g11{
  font-size: 60px;
  text-decoration: underline;
  margin: 0 50px 20px;
  color: #343A40;
  transition: 1.2s; 
}
.g11:hover{
  cursor: pointer;
  color: #f4c2c2;
}
.div{
  height: 1px;
  background: #343A40;
  border:1px solid #343A40;
  box-sizing: border-box;
}
.div1{
  height: 3px;
  background: #f4c2c2;
  border:1px solid #f4c2c2;
  box-sizing: border-box;
}
.carrds {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.gal_img{
  height: 123px;
  width: 123px;
}
.gal_main{
  height: 500px;
  width: 400px;
}
.dffd{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.blog{
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.blog_btn{
  padding: 10px;
  background-color: #fff;
  outline:none;
  border:1px solid black;
  font-size: 25px;
}
.tdd:hover{
  cursor: pointer;
  text-decoration: underline;
  color: white;
  transition: 0.6s ease-in;
}   
iframe{
  width: 700px;
  height: 300px;
}
.foot{
  margin-top: 60px;
}
.blog a:hover{
  background-color: #343A40;
  color: #f4c2c2;
  transition: 0.7s ease-in;
}